[Desktop Entry]
Name=StartProxyPort
Comment=Inicia um Proxy na porta 9999
Exec= /home/veins/src/veins-veins-4.7.1/StartProxyPort.sh
Icon= /home/veins/src/veins-veins-4.7.1/StartProxyPort.xpm
Terminal=true
Type=Application
Name[en_US]=StartProxy
Name[pt_BR]=StartProxyPort
